.wrapper {
}
.text {
  margin-top: 200px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #a7a7a7;
}
@media (max-width: 1110px) {
  .text {
    margin-top: 226px;
  }
}
@media (max-width: 767px) {
  .text {
    margin-top: 137px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
}
